main {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

body {
    text-align: center;
    background-color: #acdaf0;
    color: rgb(31, 81, 139);
    font-family: Verdana;
}

a {
    color: black;
}