<footer>
    <br>
    <nav>
        <a href="https://webpages.charlotte.edu/shoitsma/" class="navbarspacing">Charlotte Webpage</a>
        ୨♡୧
        <a href="https://github.com/shoitsma" class="navbarspacing">GitHub</a>
        ୨♡୧
        <a href="https://shoitsma.github.io/" class="navbarspacing">GitHub.io</a>
        ୨♡୧
        <a href="https://www.freecodecamp.org/shoitsma" class="navbarspacing">freeCodeCamp</a>
        ୨♡୧
        <a href="https://www.codecademy.com/profiles/shoitsma" class="navbarspacing">Codecademy</a>
        ୨♡୧
        <a href="https://www.linkedin.com/in/shoitsma/" class="navbarspacing">LinkedIn</a>
    </nav>
    <a href= "http://validator.w3.org/check?uri=referer" style="text-decoration:none;">
        <img src = "images/html_icon.png" alt="HTML referer" class="validator">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src = "images/css_icon.png" alt="CSS referer" class="validator">
    </a>
    <!-- Replace with <a href="sleepyhamsterhoitsma.gov/"> when uploading to Filezilla-->
    <p>Page built by <a href="/itis3135/sleepyhamsterhoitsma.gov/">Sleepy Hamster Hoitsma</a>&copy; 2024</p>
</footer>