.logo {
    position: relative;
    width: 15%;
}

h1 {
    position: relative;
    text-align: center;
    padding: 50px;
}

main {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

body {
    text-align: center;
    background-color: #acdaf0;
    color: #1f518b;
    font-family: Verdana;
}

a {
    color: #1e3231;
}

ul {
    list-style-image: url("./images/logo_trans.png");
}