<footer>
    <br>
    <nav>
        <a href="https://webpages.charlotte.edu/shoitsma/" class="navbarspacing">Charlotte Webpage</a>
        ♡
        <a href="https://github.com/shoitsma" class="navbarspacing">GitHub</a>
        ♡
        <a href="https://shoitsma.github.io/" class="navbarspacing">GitHub.io</a>
        ♡
        <a href="https://www.freecodecamp.org/shoitsma" class="navbarspacing">freeCodeCamp</a>
        ♡
        <a href="https://www.codecademy.com/profiles/shoitsma" class="navbarspacing">Codecademy</a>
        ♡
        <a href="https://www.linkedin.com/in/shoitsma/" class="navbarspacing">LinkedIn</a>
    </nav>
    <a href= "https://validator.w3.org/check?uri=referer" id="validation_link_html" style="text-decoration:none;">
        <img src = "images/html_icon.png" alt="HTML referer" class="validator">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img src = "images/css_icon.png" alt="CSS referer" class="validator">
    </a>
    <!-- GitHub.io: "/itis3135/hoitsmaontheputer.com/" -->
    <!-- Filezilla: "/shoitsma/itis3135/hoitsmaontheputer.com/" -->
    <p><i>Hamster Powered Up</i></p>
    <p>Page built by <a href="/itis3135/hoitsmaontheputer.com/">Hoitsma on the Puter, <a href="https://www.freecodecamp.org/certification/shoitsma/responsive-web-design">Certified in RWD</a></a>&copy; 2024</p>
</footer>