<header>
    <nav>
        <a href="index.html" class="navbarspacing">Home</a>
        ♡
        <a href="introduction.html" class="navbarspacing">Introduction</a>
        ♡
        <a href="contract.html" class="navbarspacing">Contract</a>
        ♡
        <div class="dropdown">
            <button class="dropbtn"><u>Exercises</u></button>
            <div class="dropdown-content">
                <a href="tables.html">Tables</a>
                <a href="forms.html">Forms</a>
                <!-- GitHub.io "/itis3135/stuff/I LOVE EXPLOSIONS&.htm"--> 
                <!-- FileZilla: "/shoitsma/itis3135/stuff/I LOVE EXPLOSIONS&.htm" -->
                <a href="/itis3135/stuff/I LOVE EXPLOSIONS&.htm">CRAPPY Webpage</a>
                <a href="website_evaluations.html">Website Evaluations</a>
            </div>
        </div>
    </nav>
</header>